# Basic Data Types - Example 1

Here's a basic exercise involving Python's basic data types. Let's start with some questions and tasks:

* Create a variable called `name` and assign it your name as a *string*.
* Create a variable called `age` and assign it your age as an *integer*.
* Create a variable called `height` and assign it your height in meters as a *float*.
* Create a variable called `is_student` and assign it a *boolean* value indicating whether or not you are currently a student.
* Print the values of all the variables you created in the previous steps.

In [ ]:
# Step 1
name = "John Doe"

# Step 2
age = 25

# Step 3
height = 1.75

# Step 4
is_student = True

# Step 5
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: John Doe
Age: 25
Height: 1.75
Is Student: True

# Basic Data Types - Example 2

* Define three variables: name, age, and height.
* Assign your own values to these variables, representing your name, age, and height.
* Print out the values of these variables using the print function.

Use the type function to determine the data type of each variable and print the results.

In [ ]:
# Step 1: Define the variables
name = "John"
age = 25
height = 175.5

# Step 2: Print the values
print("Name:", name)
print("Age:", age)
print("Height:", height)

# Step 3: Print the data types
print("Data type of 'name':", type(name))
print("Data type of 'age':", type(age))
print("Data type of 'height':", type(height))

Name: John
Age: 25
Height: 175.5
Data type of 'name': <class 'str'>
Data type of 'age': <class 'int'>
Data type of 'height': <class 'float'>

# List

In [ ]:
fruits = ['apple', 'banana', 'orange', 'grape']
print(fruits)  # Output: ['apple', 'banana', 'orange', 'grape']

# Accessing elements
print(fruits[0])  # Output: 'apple'
print(fruits[2])  # Output: 'orange'

# Modifying elements
fruits[1] = 'kiwi'
print(fruits)  # Output: ['apple', 'kiwi', 'orange', 'grape']

# Adding elements
fruits.append('mango')
print(fruits)  # Output: ['apple', 'kiwi', 'orange', 'grape', 'mango']

# Removing elements
fruits.remove('orange')
print(fruits)  # Output: ['apple', 'kiwi', 'grape', 'mango']

['apple', 'banana', 'orange', 'grape']
apple
orange
['apple', 'kiwi', 'orange', 'grape']
['apple', 'kiwi', 'orange', 'grape', 'mango']
['apple', 'kiwi', 'grape', 'mango']

ðŸ”‘ **Note:**

In Python, lists are one of the most commonly used data structures. They are mutable, ordered collections of elements. Here are some commonly used list methods in Python:

* `append(element)`: Adds an element to the end of the list.

* `extend(iterable)`: Extends the list by appending elements from the iterable.

* `insert(index, element)`: Inserts an element at the specified index in the list.

* `remove(element)`: Removes the first occurrence of the specified element from the list.

* `pop(index)`: Removes and returns the element at the specified index. If no index is provided, it removes and returns the last element.

* `index(element)`: Returns the index of the first occurrence of the specified element in the list.

* `count(element)`: Returns the number of occurrences of the specified element in the list.

* `sort()`: Sorts the elements of the list in ascending order.

* `reverse()`: Reverses the order of the elements in the list.

* `clear()`: Removes all elements from the list.

These are just a few of the many methods available for lists in Python. You can find more information and examples in the Python documentation: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

# Tuple

In [ ]:
coordinates = (3, 4)
print(coordinates)  # Output: (3, 4)

# Accessing elements
print(coordinates[0])  # Output: 3
print(coordinates[1])  # Output: 4

# Unpacking tuple
x, y = coordinates
print(x)  # Output: 3
print(y)  # Output: 4

# Tuples are immutable (cannot be modified)
# coordinates[0] = 5  # This will raise a TypeError

(3, 4)
3
4
3
4

ðŸ”‘ **Note:**

Unlike lists, tuples are immutable in Python, meaning they cannot be modified once created. Therefore, tuples have fewer methods compared to lists. Here are the tuple methods available in Python:

* `count(element)`: Returns the number of occurrences of the specified element in the tuple.

* `index(element)`: Returns the index of the first occurrence of the specified element in the tuple.

These methods are used to query and retrieve information from tuples. Since tuples cannot be modified, there are no methods for adding, removing, or modifying elements in a tuple. 

If you need to perform such operations, you would typically convert the tuple to a list, make the modifications, and then convert it back to a tuple if needed.

# Dictionary

In [ ]:
# Creating a dictionary
student = {
    "name": "John Doe",
    "age": 20,
    "major": "Computer Science",
    "gpa": 3.8
}

# Accessing values
print("Name:", student["name"])
print("Age:", student["age"])
print("Major:", student["major"])
print("GPA:", student["gpa"])

# Modifying values
student["age"] = 21
student["gpa"] = 3.9

# Adding a new key-value pair
student["university"] = "XYZ University"

print(student)

# Removing a key-value pair
del student["major"]


print(student)

Name: John Doe
Age: 20
Major: Computer Science
GPA: 3.8
{'name': 'John Doe', 'age': 21, 'major': 'Computer Science', 'gpa': 3.9, 'university': 'XYZ University'}
{'name': 'John Doe', 'age': 21, 'gpa': 3.9, 'university': 'XYZ University'}

ðŸ”‘ **Note:**

Here are some commonly used dictionary methods in Python:

`keys()`: Returns a view object that contains all the keys in the dictionary.

`values()`: Returns a view object that contains all the values in the dictionary.

`items()`: Returns a view object that contains all the key-value pairs as tuples in the dictionary.

`get(key, default)`: Returns the value associated with the specified key. If the key is not found, it returns the default value (optional).

`pop(key, default)`: Removes and returns the value associated with the specified key. If the key is not found, it returns the default value (optional).

# Set

In [ ]:
# Creating a set
fruits = {"apple", "banana", "orange", "apple", "pear"}

# Displaying the set
print(fruits)  # Output: {'pear', 'banana', 'orange', 'apple'}

# Adding elements to the set
fruits.add("grape")
print(fruits) # Output: {'grape', 'banana', 'pear', 'orange', 'apple'}

fruits.update(["kiwi", "mango"])
print(fruits) # Output: {'grape', 'banana', 'mango', 'pear', 'orange', 'apple', 'kiwi'}


# Removing elements from the set
fruits.remove("apple")
print(fruits) # {'grape', 'banana', 'mango', 'pear', 'orange', 'kiwi'}

fruits.discard("banana") 
print(fruits) #  {'grape', 'mango', 'pear', 'orange', 'kiwi'}

# Checking if an element exists in the set
print("banana" in fruits)  # Output: False

{'apple', 'banana', 'orange', 'pear'}
{'grape', 'banana', 'pear', 'orange', 'apple'}
{'grape', 'banana', 'mango', 'pear', 'orange', 'apple', 'kiwi'}
{'grape', 'banana', 'mango', 'pear', 'orange', 'kiwi'}
{'grape', 'mango', 'pear', 'orange', 'kiwi'}
False

In [ ]:

# Set operations
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of two sets
union = set1.union(set2)
print(union)  # Output: {1, 2, 3, 4, 5, 6, 7, 8}

# Intersection of two sets
intersection = set1.intersection(set2)
print(intersection)  # Output: {4, 5}

# Difference of two sets
difference = set1.difference(set2)
print(difference)  # Output: {1, 2, 3}

# Checking if a set is a subset or superset of another set
print(set1.issubset(set2))  # Output: False
print(set1.issuperset(set2))  # Output: False

{1, 2, 3, 4, 5}
{4, 5}
{1, 2, 3}
False
True

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

print(set1.issuperset(set2))  # Output: True
# Since set1 contains all the elements of set2 (1, 2, and 3), the method returns True.

True

In [ ]:
set3 = {1, 2, 3, 4}
set4 = {1, 2, 3, 5}

print(set3.issuperset(set4))  # Output: False
# In this case, set3 is not a superset of set4 because it does not contain the element 5.

False

ðŸ”‘ **Note:**

In Python, sets are unordered collections of unique elements. Sets are mutable, meaning you can modify them by adding or removing elements. Here are some commonly used set methods in Python:

1. `add(element)`: Adds an element to the set.

2. `update(iterable)`: Adds elements from an iterable to the set.

3. `remove(element)`: Removes the specified element from the set. Raises a `KeyError` if the element is not found.

4. `discard(element)`: Removes the specified element from the set if it exists. Does not raise an error if the element is not found.

5. `pop()`: Removes and returns an arbitrary element from the set.

6. `clear()`: Removes all elements from the set, making it empty.

7. `union(set1, set2, ...)`: Returns a new set that is the union of the given sets.

8. `intersection(set1, set2, ...)`: Returns a new set that is the intersection of the given sets.

9. `difference(set)`: Returns a new set that contains the elements in the set but not in the given set.

10. `symmetric_difference(set)`: Returns a new set that contains the elements that are in either the set or the given set, but not in both.

11. `issubset(set)`: Checks whether the set is a subset of the given set.

12. `issuperset(set)`: Checks whether the set is a superset of the given set.

These are just a few of the methods available for sets in Python. Each method serves a specific purpose and allows you to manipulate and perform operations on sets. You can find more information and examples in the Python documentation: https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset

# Conditionals

In [ ]:
x = 5

if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but not greater than 10")
else:
    print("x is 5 or less")

x is 5 or less

# For Loops

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

# While Loops

In [ ]:
count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [ ]:
num = 2

while num <= 10:
    print(num)
    num += 2

2
4
6
8
10

# Code Demo: Student Scores

In [ ]:
# Student Scores Program

students = {}

print("Welcome to the Student Scores program!")

while True:
    name = input("\nEnter student name (or 'done' to finish): ")
    
    if name == "done":
        break
    
    score = int(input("Enter student score: "))
    students[name] = score
    print("Student added successfully.")

print("\nCurrent list of students and scores:")
for name, score in students.items():
    print(f"- {name}: {score}")

highest_score = max(students.values())
highest_scoring_students = []

for name, score in students.items():
    if score == highest_score:
        highest_scoring_students.append(name)

print("\nHighest score:", highest_score)
print("Student(s) with the highest score:", highest_scoring_students)

Welcome to the Student Scores program!

Enter student name (or 'done' to finish): Apoorv
Enter student score: 45
Student added successfully.

Enter student name (or 'done' to finish): Emma
Enter student score: 45
Student added successfully.

Enter student name (or 'done' to finish): done

Current list of students and scores:
- Apoorv: 45
- Emma: 45

Highest score: 45
Student(s) with the highest score: ['Apoorv', 'Emma']

## Student Scores Output



```
Welcome to the Student Scores program!

Enter student name (or 'done' to finish): John
Enter student score: 85
Student added successfully.

Enter student name (or 'done' to finish): Emma
Enter student score: 92
Student added successfully.

Enter student name (or 'done' to finish): Alice
Enter student score: 78
Student added successfully.

Enter student name (or 'done' to finish): done

Current list of students and scores:
- John: 85
- Emma: 92
- Alice: 78

Highest score: 92 (Student: Emma)

```

# Shopping Cart Exercise and Output


```
Welcome to the Shopping Cart program!

Menu:
1. Add item
2. Display items
3. Calculate total cost
4. Exit

Enter your choice: 1
Enter item name: Apple
Enter item price: 0.5
Item added successfully.

Enter your choice: 1
Enter item name: Banana
Enter item price: 0.25
Item added successfully.

Enter your choice: 2
Current items in the shopping cart:
- Apple: $0.5
- Banana: $0.25

Enter your choice: 3
Total cost of items: $0.75

Enter your choice: 4
Goodbye!

```

In [1]:
(1, 2, 3, 4) < (1, 2, 4)

True